body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: white;
    border-bottom: 2px solid #eee; 
}
.navbar .links a{
    margin-left: 15px;
    font-size: 14px;
}
.title{
    margin: 20px;
}
.top-section{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap : 20px;
    margin: 20px;
}
.card{
    background: #e60000;
    padding : 20px;
    color: white;
    text-align : center;
}
.card img{
    width: 50px;
    display: block;
    margin : auto;
}
.card button{
    padding : 8px 20 px;
    border : none;
    margin-top: 10px;
}
.card section{
    display : grid;
    grid-template-columns: repeat(2, 1fr);
    margin : 20px;
    gap: 20px
}
.mid-card{
    border: 1px solid #ddd;
    padding : 20px;
    text-align : center;
}
.mid-card img{
    width: 60px;
}
.mid-card span{
    color: red;
}
.bottom{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items : center;
}
.bottom img{
    width: 150px;
}