body {
    font-family: Arial;
    max-width: 1200px;
    margin: auto;
    padding: 0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid #eee;
}

.navbar .links a {
    margin-left: 15px;
}

.title {
    margin: 20px;
}

/* TOP GRID */
.top-section {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.card {
    background: #e60000;
    color: white;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 180px;
    height: 180px;
    object-fit: cover;
    display: block;
    margin: auto;
}

.card button {
    margin-top: 10px;
    padding: 8px 20px;
    border: none;
}

/* MID GRID */
.mid-section {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.mid-card {
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
}

.mid-card img {
    width: 60px;
}

/* BOTTOM SECTION */
.bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.bottom img {
    width: 140px;
}
